/* -------------------- DEFAULTS -------------------- */

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: dodgerblue;
}

.nav, .footer {
    display: block;
    background-color: dodgerblue;
}

.container {
    width: 100%;
    margin: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: navy;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: dodgerblue;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}

.col-1 {width: 8.33%; background-color: red;}
.col-2 {width: 16.66%; background-color: red;}
.col-3 {width: 25%; background-color: red;}
.col-4 {width: 33.33%; background-color: red;}
.col-5 {width: 41.66%; background-color: red;}
.col-6 {width: 50%; background-color: red;}
.col-7 {width: 58.33%; background-color: red;}
.col-8 {width: 66.66%; background-color: red;}
.col-9 {width: 75%; background-color: red;}
.col-10 {width: 83.33%; background-color: red;}
.col-11 {width: 91.66%; background-color: red;}
.col-12 {width: 100%; background-color: red;}

/* -------------------- NAVBAR -------------------- */

nav {
    width: 100%;
}

.nav-space {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.nav-button {
    border-radius: 25% 5% 25% 5% / 80% 5% 80% 5%;
    border-width: 10px;
    border-style: solid;
    border-color: #9acd32;
    background-color: dodgerblue;
    padding: 15px 75px;
}

.nav-button:hover {
    background-color: #9acd32;
    color: #ffffff;
}

.nav-button a {
    text-decoration: none;
    color: #ffffff;
}

/* -------------------- CONTENT -------------------- */

.content-space {
    margin: 0 auto;
    border-radius: 65px;
    background-color: #9acd32;
    text-align: justify;
    padding: 30px 60px;
    
}

/* -------------------- MOBILE -------------------- */

@media screen and (max-width: 680px) {
    
}