/* FOOTER */

.footer {
    grid-area: footer;
    background-color: transparent;
    text-align: center;
    color: #abff00;
    padding: 2em;
}

.footer p {
    padding-bottom: 1em;
    text-align: center;
    font-size: 20px;
    color: #abff00;
}

.footer-socials a {
    margin-left: 15px;
    text-align: center;
    font-size: 35px;
    color: #abff00;
}

.footer-socials > a:hover {
    color: black;
}