/* HEADER */

.header {
    grid-area: header;
    position: relative;
    height: 95vh;
    background-image: url('../../src/assets/helena3.jpeg');
    background-position: center top;
    background-size: cover;
}