/* NAVBAR */

.navbar {
  grid-area: navbar;
  background-color: transparent;
  padding-top: 3em;
}

.navbar > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: transparent;
}

.navbar > ul > li {
  display: inline-block;
  background-color: transparent;
}

.nav-list {
  position: relative;
}

.sub-links {
  position: absolute;
  bottom: 0;
  right: 0;
}

.sub-links > li {
  display: inline-block;
}

.navbar a {
  color: #abff00;
  background-color: transparent;
}

.home-nav-link {
  font-size: 70px;
  text-decoration: none;
}

.home-nav-link.active-nav {
  color: #abff00;
}

.home-nav-link:hover {
  color: #abff00;
}

.about-nav-link {
  font-size: 30px;
  margin-right: 1em;
  width: 100%;
}

.about-nav-link.active-nav {
  color: black;
}

.about-nav-link:hover {
  color: black;
}

.resume-nav-link {
  font-size: 30px;
}

.resume-nav-link.active-nav {
  color: black;
}

.resume-nav-link:hover {
  color: black;
}

