/* NAVBAR */

.navbar {
  grid-area: navbar;
  position: relative;
  width: 100%;
  background-color: transparent;
}

.nav-link {
  width: 100%;
  height: 100%;
  margin: 0;
  text-decoration: none;
  background-color: transparent;
}

.home-nav-link a:nth-child(1) {
  font-size: 35px;
}

.navbar a {
  color: white;
  font-size: 25px;
}

.navbar > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  text-align: center;
  background-color: transparent;
}

.navbar > ul > li {
  margin: 10px 2em;
  display: inline-block;
  text-align: center;
  position: relative;
  background-color: transparent;
}

.navbar > ul > li:hover > a {
  color: #abff00;
}

.navbar a.active-nav {
  color: #abff00;
}