.header {
  text-align: center;
}

.nav-link {
  width: 100%;
  height: 100%;
  margin: 0;
  text-decoration: none;
}

.navbar > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  text-align: center;
}

.navbar > ul > li {
  margin: 0 2em;
  display: inline-block;
  text-align: center;
  position: relative;
}

.navbar > ul > li:hover > a {
  color: green;
}

.navbar > ul > li::before {
  content: "";
  width: 0;
  height: 20%;
  background-color: green;
  position: absolute;
  top: 100%;
  transition: 0.5s all;
}

.navbar > ul > li:hover::before {
  width: 100%;
}

body {
  background: #000;
  color:  chartreuse;
  font-family: 'Press Start 2P';
  display: flex;
  flex-direction: column; 
}

.content {
  background: #000;
  color:  chartreuse;
  font-family: 'Press Start 2P';
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}

.footer {
  text-align: center;
  background-color: black;
  position: relative;
  bottom: 0;
  width: 100%;
}

a {
  color: chartreuse;
}

br {
  margin: 10px;
}

img {
  padding: 2em;
}

.landing-style {
  margin: 5em;
  text-align: center;
  border: 5px solid chartreuse;
  border-radius: 15px;
  border-width: thin;
}

.about-style {
  text-align: center;
  margin: 5em;
  border: 5px solid chartreuse;
  border-radius: 15px;
  border-width: thin;
}
.about-style h1 {
  text-align: center;
  margin-top: 2em;
}

.about-holder {
  margin: 1em;
  padding: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about-text {
  margin: auto;
  padding: 10px;
  line-height: 2;
  font-size: 15px;
  vertical-align: middle;
}

.contact-style {
  margin: 5em;
  text-align: center;
  border: 5px solid chartreuse;
  border-radius: 15px;
  border-width: thin;
}

.contact-holder {
  margin: 2em;
  text-align: center;
  border: 5px solid chartreuse;
  border-radius: 15px;
  border-width: thin;
  padding: 2em;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  border: 5px solid chartreuse;
  border-radius: 15px;
  border-width: thin;
  padding: 10px;
  font-size: 50px;
}

.projects-style {
  margin: 5em;
  text-align: center;
  border: 5px solid chartreuse;
  border-radius: 15px;
  border-width: thin;
}

.resume-style {
  margin: 5em;
  text-align: center;
  border: 5px solid chartreuse;
  border-radius: 15px;
  border-width: thin;
}

.error-style {
  margin: 5em;
  text-align: center;
  border: 5px solid chartreuse;
  border-radius: 15px;
  border-width: thin;
}
