@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Mansalva';
}
.rectangle {
  width: 88%;
  height: 350%;
  background: rgb(157, 206, 255);
  z-index: -1;
  position: absolute;
  margin: 30em 5em 5em 5em;

}
.navbar {
  position: fixed;
  text-align: center;
  padding-left: 4em;
  margin: 12em 5em 5em;
}
.navbar a {
  color: black;
  font-size: 20px;
  text-decoration: none;
}
.navbar a.active-nav {
  color: #007FFF;
}
.navbar ul {
  list-style: none;
}
.navbar li:hover > a {
  color: #007FFF;
}
.navbar li {
  margin: 2em;
}

.landing-text {
  position: absolute;
  margin: 35em 325px 5em 325px;
}
.helena-img {
  width: 65%;
  height: auto;
  position: absolute;
  margin: 3em 5em 0em 22em;
  border-radius: 10px;
  border:10px solid rgb(157, 206, 255);
  z-index: 1;
}

.about-text {
  position: absolute;
  margin: 35em 325px 5em 325px;
}
.laptop-img {
  width: 45%;
  height: auto;
  position: absolute;
  margin: 3em 5em 0em 35em;
  border-radius: 10px;
  border:10px solid rgb(157, 206, 255);
  z-index: 1;
}