@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Mansalva';
}
.rectangle {
  position: absolute;
  margin: 30em 5em 5em 5em;
  background-color: rgb(157, 206, 255);
  z-index: -1;
  width: 88%;
}
.navbar {
  position: fixed;
  text-align: center;
  padding-left: 4em;
  margin: 12em 5em 5em;
  z-index: 1;
}
.navbar a {
  color: black;
  font-size: 25px;
  text-decoration: none;
}
.navbar a.active-nav {
  color: #007FFF;
}
.navbar ul {
  list-style: none;
}
.navbar li:hover > a {
  color: #007FFF;
}
.navbar li {
  margin: 2em;
}

.landing-text {
  margin: 5em 200px 5em 300px;
}
.helena-img {
  width: 65%;
  height: auto;
  position: absolute;
  margin: 3em 5em 0em 22em;
  border-radius: 10px;
  border:10px solid rgb(157, 206, 255);
  z-index: 1;
}

.about-text {
  margin: 5em 200px 5em 300px;
}
.icon-box {
  font-size: 60px;
  display: flex;
  flex-direction: row;
}
.icon-box a {
  color: #007FFF;
}
.icon-box p {
  color: black;
  
}
.icon-icon {
  padding: 20px;
}
.icon-box {
  font-size: 35px;
}
.icon-text {
  align-content: center;
  padding: 35px 0;
  font-size: 25px;
}

.contact-text {
  margin: 5em 200px 5em 300px;
  display: flex;
  flex-direction: column;
}
.info-box {
  font-size: 60px;
  display: flex;
  flex-direction: row;
}
.info-box a {
  color: #007FFF;
}
.info-box p {
  color: black;
  font-size: 25px;
}
.info-icon {
  padding: 20px;
}
.info-text {
  align-content: center;
  padding: 24px 0;
}